body{background-color:green;background-image:url(c6d1ecfcac6e5846ad58f7a68ec7de20.png);background-repeat:no-repeat;background-position:center;height:100vh}

.botao{background-color:green;color:pink;font-size:20px}

